# Operators, Strings and Mathematics

# Operators

In [9]:
a = 2      
b = 3.2
c = 2.8
d = 6
e = 4

In [10]:
x, y = 2, 3
a, b, c, d, e = 2, 3.2, 2.8, 6, 4

In [11]:
a + b

5.2

In [12]:
x1 = a + b
x2 = d - a
x3 = e * d
x4 = d / a
x5 = 11 // 3
x6 = 6 % 4
x7 =  2**3

In [13]:
print("x1: " , x1)
print("x2: " , x2)
print("x3: " , x3)
print("x4: " , x4)
print("x5: " , x5)
print("x6: " , x6)
print("x7: " , x7)

x1:  5.2
x2:  4
x3:  24
x4:  3.0
x5:  3
x6:  2
x7:  8

In [14]:
a = 2
b = 4
print("a:",a, " b:",b)

a = a + 1
print("a:",a, " b:",b)

b = b * 2
print("a:",a, " b:",b)

a = a * 4
print("a:",a, " b:",b)

c = a / 3
print("a:",a, " b:",b, " c:", c)

a: 2  b: 4
a: 3  b: 4
a: 3  b: 8
a: 12  b: 8
a: 12  b: 8  c: 4.0

In [15]:
10 - 8 * 3

-14

In [16]:
# **
#  *  / % //
# + -

In [17]:
(4 + 8) / 6

2.0

In [18]:
10 + 9 % 2

11

In [19]:
7 + 3 * 4 / 3 - 8   # 7+4-8

3.0

In [20]:
(4 + 2 * 10) / 6 % 4 + (2 * 3) - 8   # 24 / 6 % 4 + 6 -8  --> 0 + 6 - 8

-2.0

In [21]:
10 + 8 / 2**2 % 1 - 3 * 5 + 2**4

11.0

In [22]:
a, b, c, d, e = 2, 3.2, 2.8, 6, 4 
# a = a+5
a += 5
b -= 6
c *=2
d /= 3
print('a:', a, 'b:', b, 'c:', c, 'd:', d)

a: 7 b: -2.8 c: 5.6 d: 2.0

In [23]:
x = 0
y = 1
x == y

False

In [24]:
x = 3
y = 3
print (x == y)

True

In [25]:
x = 2
y = 3
print(x == y)

False

In [26]:
print(2 == 5)
print(3 == 3)
print(2 != 3)
print(3 != 3)

False
True
True
False

In [27]:
print(2 > 3)
print(3 >= 3)
print(3 < 2)
print(4 <= 1)

False
True
False
False

In [28]:
print(4>3 and 2!=5)
print(2==2 and 12/6==3)
print(10+6==16 and 4>3 and 3!=4)
print(9%3==0 and 12/2==6 and 5<8 and 3+8==10)

True
False
True
False

In [29]:
print(6>3 or 2==2)
print(12-2==13 or 4>2)
print(8<3 or 3!=3)
print(2-3==8 or 3>5 or 12/2==5 or 5>3)

True
True
False
True

In [30]:
print(not (2 == 2))
print(not (2 == 1))
print(not (1 > 3))

False
True
True

In [31]:
a = True
b = False
print(a or b)
print(a and b)
print(True == False)

True
False
False

In [32]:
print(1 & 0)
print(1 | 0)
print(1 ^ 0)
print(1 ^ 0 ^ 0 ^ 1 ^ 1)

0
1
1
1

In [33]:
print(int(2))

2

In [34]:
a = int(2)
b = int(3.2)
c = float(3)
print(a , "," , b , "," , c)

2 , 3 , 3.0

In [35]:
x = int(3.2) + float(8) / int(2.9)
print("x: ", x)
print("type(x)", type(x))

y = int(x)
print("y: ", y)
print("type(y)", type(y))

x:  7.0
type(x) <class 'float'>
y:  7
type(y) <class 'int'>

In [36]:
print(type(True))
print(type(False))
print(type(1 == 2))
print(type(2>3 and 3!=2))
print(type("hi friends"))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'str'>

# Strings

In [37]:
str1 = " Hi friends, "
str2 = "my name is "
str3 = "jack JJ "
str4 = str1 + str2 + str3

print(str4)
print(str1 + str2 + str3)

 Hi friends, my name is jack JJ
 Hi friends, my name is jack JJ

In [38]:
print(2*str4)

 Hi friends, my name is jack JJ  Hi friends, my name is jack JJ

In [39]:
str5 = str4 * 2
print(str5)

 Hi friends, my name is jack JJ  Hi friends, my name is jack JJ

In [40]:
age = input("please enter your age: ")

In [41]:
print("age: ", age)

age:  10

In [42]:
str6 = "Hi friends, my name is jack JJ"
str7 = str6[:]
str8 = str6[0:]

print(str7)
print(str8)

Hi friends, my name is jack JJ
Hi friends, my name is jack JJ

In [43]:
str9 = str6[23:]
print(str9)

jack JJ

In [44]:
str10 = str6[23:26]
print(str10)

jac

In [45]:
len(str6)

30

In [46]:
str11 = str6[-1]
str12 = str6[-8]
str13 = str6[:-1]
str14 = str6[:-5]
str15 = str6[3:-28]

print(str11)
print(str12)
print(str13)
print(str14)
print(str15)

J

Hi friends, my name is jack J
Hi friends, my name is ja

In [47]:
str6[5:-1]

'iends, my name is jack J'

In [48]:
print(f"str11: {str11} \nstr12: {str12} \nstr13: {str13} \nstr14: {str14} \nstr15: {str15}")

str11: J
str12:
str13: Hi friends, my name is jack J
str14: Hi friends, my name is ja
str15:

In [49]:
first_name = input("first name: ")
last_name = input("last name: ")
age = input("age: ")

In [50]:
print(f"first name: {first_name}, last name: {last_name}, age: {age}")

first name: jack, last name: jj, age: 30

In [51]:
str1 = "python"
len(str1)

6

In [52]:
str1 = "python"
str1.find('h')

3

In [53]:
str1 = "python"
str1.find('r')

-1

In [54]:
str1 = "PYTHON"
str1.lower()

'python'

In [55]:
str1 = "python"
str1.islower()

True

In [56]:
str1 = "python"
str1.upper()

'PYTHON'

In [57]:
str1 = "PYTHON"
str1.isupper()

True

In [58]:
str1 = " "
str1.isspace()

True

In [59]:
str1 = "python"

In [60]:
str1.startswith('py')

True

In [61]:
str1.endswith('n')

True

In [62]:
str1 = "python programming"
str1.replace("python", "C#")

'C# programming'

In [63]:
str1 = "0123456"
str1.isdigit()

True

# Mathematics

In [64]:
import math

print(f"pow: {math.pow(2,3)}")
print(f"sqrt: {math.sqrt(25)}")
print(f"sin: {math.sin(30)}")
print(f"cos: {math.cos(10)}")
print(f"e: {math.e}")
print(f"factorial: {math.factorial(4)}")
print(f"pi: {math.pi}")
print(f"log10: {math.log10(100)}")
print(f"log2: {math.log2(16)}")
print(f"fabs: {math.fabs(-3)}")
print(f"floor: {math.floor(3.8)}")
print(f"ceil: {math.ceil(3.3)}")

pow: 8.0
sqrt: 5.0
sin: -0.9880316240928618
cos: -0.8390715290764524
e: 2.718281828459045
factorial: 24
pi: 3.141592653589793
log10: 2.0
log2: 4.0
fabs: 3.0
floor: 3
ceil: 4

In [65]:
from math import tanh

tanh(1)

0.7615941559557649