# tuple

In [1]:
T1 = (4, 2, 5, 8, 4)

print(T1)
print(type(T1))
print("len:", len(T1))

(4, 2, 5, 8, 4)
<class 'tuple'>
len: 5

In [2]:
T = (2)
type(T)

int

In [3]:
T = (2,)
type(T)

tuple

In [4]:
T1.count(4)

2

In [5]:
T1.count(2)

1

In [6]:
T1.index(4)

0

In [7]:
T1.index(5)

2

In [8]:
T1[0]

4

In [9]:
T1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
print(f"min : {min(T1)}")
print(f"max : {max(T1)}")
print(f"sum : {sum(T1)}")
print(f"sorted : {sorted(T1)}")

min : 2
max : 8
sum : 23
sorted : [2, 4, 4, 5, 8]

In [11]:
T2 = tuple([1, 2])

print(T2)
print(type(T2))
print(f"len: {len(T2)}")

(1, 2)
<class 'tuple'>
len: 2

In [12]:
2 in T2

True

In [13]:
T2 = tuple(['s', 'k', 2, 6, 'f'])
T2

('s', 'k', 2, 6, 'f')

In [14]:
T3 = (12, 8, 'a', 's', 5, "Hi", "Python", [2, 4, 6], {5, 3, 8}, (9, 'h', 6))

print(len(T3))
print(T3)

10
(12, 8, 'a', 's', 5, 'Hi', 'Python', [2, 4, 6], {8, 3, 5}, (9, 'h', 6))

In [15]:
for i in T3:
    print(i)

12
8
a
s
5
Hi
Python
[2, 4, 6]
{8, 3, 5}
(9, 'h', 6)

In [16]:
for i in range(len(T3)):
    print(T3[i])

12
8
a
s
5
Hi
Python
[2, 4, 6]
{8, 3, 5}
(9, 'h', 6)

In [17]:
T3[7]

[2, 4, 6]

In [18]:
T3[7][1]

4

In [19]:
T3[5:8]

('Hi', 'Python', [2, 4, 6])

In [20]:
T3[-1]

(9, 'h', 6)

In [21]:
T3[-2]

{3, 5, 8}

In [22]:
del T3

In [23]:
T3

NameError: name 'T3' is not defined

In [24]:
T4 = (2, 'h', [2,4, 6], "Hi")
T5 = ('New3',)
T4 += T5
T4

(2, 'h', [2, 4, 6], 'Hi', 'New3')

In [25]:
import math

T6 = (2, 4, 6, 8, 10)

for i in  T6:
    print(math.factorial(i))

2
24
720
40320
3628800