# function

In [2]:
def F1():
    print("Hi Friends")

In [3]:
F1()

Hi Friends

In [4]:
def F2():
    a = 2
    b = 3
    print(a**b)

In [5]:
F2()

8

In [6]:
def F3():
    a = 2
    b = 3
    return a**b

In [7]:
x = F3()
x

8

In [8]:
def F4():
    a = [2, 8, 3, 9, 1]
    return max(a)

In [9]:
x = F4()
x

9

In [10]:
def F5(a):
    print(a)

In [11]:
F5(10)

10

In [12]:
def F6(a, b):
    x = a**2
    y = a*b
    print(x, y)

In [13]:
F6(2, 4)

4 8

In [14]:
def F7(a):
    return a

In [15]:
F7(5)

5

In [16]:
x = F7(5)
x

5

In [17]:
def F8(a, b):
    x = a**2
    y = a*b
    return x, y

In [18]:
F8(2, 4)

(4, 8)

In [19]:
x1, y1 = F8(2, 4)

In [20]:
print(f"x: {x1}, y: {y1}")

x: 4, y: 8

In [21]:
x = max(2, 8, 4)
y = min(2, 4, 6)

print(x)
print(y)

8
2

In [22]:
List = [6, 8, 7, 2]
L = len(List)
L

4

In [23]:
S1 = {2, 4, 6, 8}
S1.add(10)
S1

{2, 4, 6, 8, 10}

In [24]:
def Rectangle(length, width):
    area = length * width
    perimeter  = 2 * (length + width)
    
    return area, perimeter

In [25]:
Rectangle(2, 4)

(8, 12)

In [26]:
area, perimeter  = Rectangle(2, 4)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [27]:
area, perimeter  = Rectangle(length=2, width=4)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [28]:
area, perimeter  = Rectangle(width=4, length=2)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [29]:
def Adult(age):
    if age < 18:
        return False
    elif age >= 18:
        return True

In [30]:
Adult(15)

False

In [31]:
if Adult(15) == True:
    print("شما می توانید جهت دریافت گواهی نامه رانندگی اقدام کنید")
else:
    print("شما واجد دریافت گواهی نامه رانندگی نیستید")

شما واجد دریافت گواهی نامه رانندگی نیستید

In [32]:
def Adult2(age):
    if age < 18:
        text = "شما می توانید جهت دریافت گواهی نامه رانندگی اقدام کنید"
    elif age >= 18:
        text = "شما واجد دریافت گواهی نامه رانندگی نیستید"
    return text

In [33]:
Adult2(30)

'شما واجد دریافت گواهی نامه رانندگی نیستید'

In [34]:
def Adult3(age):
    if age < 18:
        return 0
    elif age >= 18:
        return 1

In [35]:
Adult3(25)

1

In [36]:
if Adult3(25) == 0:
    print("متاسفم شما نمی توانید ماشین بخرید")
elif Adult3(25) == 1:
    print("لطفا یکی از ماشین های زیر را انتخاب کنید:")
    print("پراید، پژو، سمند، لامبورگینی، فراری")

لطفا یکی از ماشین های زیر را انتخاب کنید:
پراید، پژو، سمند، لامبورگینی، فراری

In [37]:
def Adult4(age, name):
    boy = ["Ali", "Mohammad", "Sina", "Reza", "Rasoul", "Mohsen"]
    
    if Adult3(age) == 1 and name in boy:
        return f"Hi {name}, your age is {age} "
    elif Adult3(age) == 1 and name not in boy:
        return f"{name} is not exist"
    else:
        return "Error"

In [38]:
Adult4(45, "Reza")

'Hi Reza, your age is 45 '

In [39]:
def F9(a):
    return (a**2) / (2*a)

if F9(8) >= 4 and Adult3(25) == 1:
    print("Yes")
else:
    print("No")

Yes

In [40]:
def Check_B_G(name):
    boy = ["Ali", "Mohammad", "Sina", "Reza", "Rasoul", "Mohsen"]
    girl = ["Zahra", "Bahar", "Fatemeh", "Mona", "Hana", "Parmida"]
    
    if name in boy:
        return "BOY"
    elif name in girl:
        return "GIRL"
    else:
        return 0

In [41]:
x = Check_B_G("Ali")
print(x)
print(type(x))

BOY
<class 'str'>

In [42]:
def Person(Name="jack", Family="jj", Age=25):
    return Name, Family, Age

In [43]:
N, F, A = Person()

print(N, F, A)

jack jj 25

In [44]:
N, F, A = Person(Name="Rasoul", Family="Taheri")

print(N, F, A)

Rasoul Taheri 25

In [45]:
N, F, A = Person(Name="Rasoul", Family="Taheri", Age=26)

print(N, F, A)

Rasoul Taheri 26

In [46]:
import math

def Factorial(a):
    f = []
    for i in range(a):
        f.append(math.factorial(i))
    return f

In [47]:
x = Factorial(6)

print(f"x: {x}")
print({type(x)})

x: [1, 1, 2, 6, 24, 120]
{<class 'list'>}

In [48]:
L1 = [pow(2, i) for i in range(10)]

def F10(a):
    return a

In [49]:
F10(L1)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [50]:
def F11(a):
    l = []
    for i in a:
        if i >=16 and i<= 128:
            l.append(i)
    return l

In [51]:
x = F11(L1)
x

[16, 32, 64, 128]

In [52]:
D1 = {
    "id": 332,
    "age": 25,
    "number": 423
}

In [53]:
def F12(a):
    k, v = [], []
    for key, value in a.items():
        k.append(key)
        v.append(value)
    return k, v

In [54]:
k, v = F12(D1)

print(f"keys {k}, {type(k)}")
print(f"values {v}, {type(v)}")

keys ['id', 'age', 'number'], <class 'list'>
values [332, 25, 423], <class 'list'>

In [55]:
L1 = [2, 4, 6]
S1 = {"python", 'C#', 2, 9}

def F13(a):
    for i in a:
        print(i)

In [56]:
F13(L1)

2
4
6

In [57]:
F13(S1)

9
2
python
C#

In [58]:
def F14(*args):
    for i in args:
        print(i)

In [59]:
F14(4, 1, "python", 5, 2, [10, 20, "C#"])

4
1
python
5
2
[10, 20, 'C#']

In [60]:
F14(L1)

[2, 4, 6]

In [61]:
import math

def F15(*args):
    L1 = []
    for i in args:
        L1.append(math.sqrt(i))
    return L1

In [62]:
x1 = F15(25, 4, 36, 81, 100)
x2 = F15(9)

print(x1)
print(x2)

[5.0, 2.0, 6.0, 9.0, 10.0]
[3.0]

In [63]:
def F16(*args):
    Sum = 0
    for i in args:
        Sum += i
    return Sum

In [64]:
F16(2, 8, 6)

16

In [65]:
L1 = [5, 6, 2, 8, 7, 4]

F16(*L1)

32

In [66]:
def F17(**kwargs):
    return kwargs

In [67]:
F17(name="Reza", score=20)

{'name': 'Reza', 'score': 20}

In [68]:
def F18(**kwargs):
    for key, value in kwargs.items():
        print(f"key: {key}, value: {value}")

In [69]:
F18(name="ali", age=25)

key: name, value: ali
key: age, value: 25

In [70]:
D1 = {
    "id": 332,
    "age": 25,
    "number": 423
}

F18(**D1)

key: id, value: 332
key: age, value: 25
key: number, value: 423

In [71]:
def F19(**kwargs):
    k, v = [], []
    for key, value in kwargs.items():
        k.append(key)
        v.append(value)
    return k, v

In [72]:
D2 = {
    "name": ["Ali", "Reza", "Zahra"],
    "Score": [19, 18, 20],
    "City": ["Tehran", "Karaj", "Kermanshah"],
    "Average": 18
}

F19(**D2)

(['name', 'Score', 'City', 'Average'],
 [['Ali', 'Reza', 'Zahra'],
  [19, 18, 20],
  ['Tehran', 'Karaj', 'Kermanshah'],
  18])

In [73]:
def F20(a, *args, default = "python", **kwargs):
    return a, args, default, kwargs

In [74]:
F20(2, [2,3,4], default="bigdataworld", **D2)

(2,
 ([2, 3, 4],),
 'bigdataworld',
 {'name': ['Ali', 'Reza', 'Zahra'],
  'Score': [19, 18, 20],
  'City': ['Tehran', 'Karaj', 'Kermanshah'],
  'Average': 18})

In [75]:
a, b, c, d = F20(2, [2,3,4], default="bigdataworld", **D2)

In [76]:
print(a)
print(b)
print(c)
print(d)

2
([2, 3, 4],)
bigdataworld
{'name': ['Ali', 'Reza', 'Zahra'], 'Score': [19, 18, 20], 'City': ['Tehran', 'Karaj', 'Kermanshah'], 'Average': 18}

In [77]:
def F21(a, b, c, *args, default1 = "python", default2 = "C#", **kwargs):
    
    return a, b, c, args, default1, default2, kwargs

In [80]:
a, b, c, d, e, f, g = F21("python", "bigdataworld", 20, {5, "jack", "jj"}, default1="Django", default2="C++", **D2)

In [81]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

python
bigdataworld
20
({'jj', 'jack', 5},)
Django
C++
{'name': ['Ali', 'Reza', 'Zahra'], 'Score': [19, 18, 20], 'City': ['Tehran', 'Karaj', 'Kermanshah'], 'Average': 18}