## lambda

In [1]:
def F1(a):
    return a**2

F2 = lambda a: a**2

F3 = lambda a, b: a*b

print(F1(5))
print(F2(5))
print(F3(5,3))

25
25
15

In [2]:
L1 = [F2(i) for i in range(10) ]
L1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
L2 = [(lambda x: x**2)(x) for x in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
D1 = {
    "name": "jack",
    "family": "jj"
}

Result4 = lambda x:x.values()

In [5]:
Result4(D1)

dict_values(['jack', 'jj'])

In [6]:
D2 = {
    "Ali": 18,
    "Reza": 20,
    "Ahmad": 19,
    "Zahra": 17,
    "Sina": 20
}

Result5 = lambda x:sum(x.values()) / len(D2)

In [7]:
Result5(D2)

18.8

In [8]:
Result5 = lambda x:x % 2 == 0

In [9]:
Result5(8)

True

## map

In [10]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [11]:
L3 = [3, 4, 2, 8, 6]

Result = map(lambda x: x**2 , L3)

In [12]:
Result

In [13]:
list(Result)

[9, 16, 4, 64, 36]

In [14]:
Result2 = map(lambda x: x % 2 == 0 , L3)

In [15]:
list(Result2)

[False, True, True, True, True]

In [16]:
Result3 = list(map(lambda x: x**2 , L3))

print(Result3)

[9, 16, 4, 64, 36]

In [17]:
L1 = [4, 7, 2, 6, 9, 5]

Result4 = map(lambda x: x*x, L1)

In [18]:
print(list(Result4))

[16, 49, 4, 36, 81, 25]

In [19]:
print(list(Result4))

[]

## filter

In [20]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [21]:
import math
L4 = [2, 4, 8, 16, 32, 64]

Log = filter(lambda x : math.pow(x, 2) , L4)

In [22]:
print(list(Log))

[2, 4, 8, 16, 32, 64]

In [23]:
numbers = [1, 2, 3, 4, 5, 6]

Pow = filter(lambda num: math.pow(num,2) == 16, numbers)

print(list(Pow))

[4]

In [24]:
List = [18, 2, 13, 1, 4, 5, 12, 16, 19, 15]

Filter = filter(lambda x : x >= 4 and x <= 16, List)

print(list(Filter))

[13, 4, 5, 12, 16, 15]

In [25]:
Filter2 = list(filter(lambda x : x >= 4 and x <= 16, List))
Filter2

[13, 4, 5, 12, 16, 15]

## Built in Functions

In [26]:
number = [2, 8, 6, 12, 9, 7]
text = "python programming"

print(f"min : {min(number)}")
print(f"min : {min(text)}")
print(f"max : {max(number)}")
print(f"max : {max(text)}")
print(f"sum : {sum(number)}")
print(f"abs : {abs(-10)}")
print(f"len : {len(number)}")
print(f"pow : {pow(2, 3)}")
print(f"round : {round(2.893, 2)}")
print(f"int: {int(3.8)}")
print(f"float: {float(4)}")
print(f"type : {type(2.8)}")
print(f"range : {range(2, 15, 3)}")
print(f"reversed : {list(reversed(number))}")
print(f"sorted: {sorted(number)}")
del(number[1])
print(f"del : {number}")

min : 2
min :
max : 12
max : y
sum : 44
abs : 10
len : 6
pow : 8
round : 2.89
int: 3
float: 4.0
type : <class 'float'>
range : range(2, 15, 3)
reversed : [7, 9, 12, 6, 8, 2]
sorted: [2, 6, 7, 8, 9, 12]
del : [2, 6, 12, 9, 7]

## min

In [27]:
List1 = ['v', 'n', 'a', 'x', 'c', 'o']

min(List1)

'a'

In [28]:
List2 = [2, 8, 4, 3, 9]

min(List2, key = lambda x : x/2 )

2

In [29]:
import math

min(List2, key = lambda x : x % 3 )

3

## max

In [30]:
List1 = ['v', 'n', 'a', 'x', 'c', 'o']

max(List1)

'x'

In [31]:
List2 = [2, 8, 4, 3, 9]

max(List2, key = lambda x : x/2 )

9

In [32]:
import math

max(List2, key = lambda x : x % 3 )

2

## sum

In [33]:
List = [2, 4, 6]

sum(List)

12

In [34]:
Set = {1, 3, 5}

sum(Set)

9

In [35]:
sum(Set, 11)

20

In [36]:
sum(List, 8)

20

In [37]:
if sum(List, 8) == 20:
    print("Yes")
else:
    print("No")

Yes

## sorted

In [38]:
List1 = [8, 2, 5, 1, 3, 9, 6, 4]

sorted(List1)

[1, 2, 3, 4, 5, 6, 8, 9]

In [39]:
sorted(List1, reverse=False)

[1, 2, 3, 4, 5, 6, 8, 9]

In [40]:
sorted(List1, reverse=True)

[9, 8, 6, 5, 4, 3, 2, 1]

In [41]:
sorted(List1, reverse=True, key= lambda x: x/2)

[9, 8, 6, 5, 4, 3, 2, 1]

In [42]:
D = [
    {"name": "Ali", "Course": "Python", "Score": 19},
    {"name": "Reza", "Course": "C#", "Score": 16},
    {"name": "Mehran", "Course": "C++", "Score": 17},
    {"name": "Mohsen", "Course": "Matlab", "Score": 20},
]

sorted(D, key=lambda x: x["name"])

[{'name': 'Ali', 'Course': 'Python', 'Score': 19},
 {'name': 'Mehran', 'Course': 'C++', 'Score': 17},
 {'name': 'Mohsen', 'Course': 'Matlab', 'Score': 20},
 {'name': 'Reza', 'Course': 'C#', 'Score': 16}]

In [43]:
sorted(D, key=lambda x: x["Score"])

[{'name': 'Reza', 'Course': 'C#', 'Score': 16},
 {'name': 'Mehran', 'Course': 'C++', 'Score': 17},
 {'name': 'Ali', 'Course': 'Python', 'Score': 19},
 {'name': 'Mohsen', 'Course': 'Matlab', 'Score': 20}]

In [44]:
sorted(D, key=lambda x: x["Score"], reverse=True)

[{'name': 'Mohsen', 'Course': 'Matlab', 'Score': 20},
 {'name': 'Ali', 'Course': 'Python', 'Score': 19},
 {'name': 'Mehran', 'Course': 'C++', 'Score': 17},
 {'name': 'Reza', 'Course': 'C#', 'Score': 16}]

## reversed

In [45]:
a = [0, 2, 4, 6, 8]

list(reversed(a))

[8, 6, 4, 2, 0]

In [46]:
b = ['a', 'b', 'c', 'd']

list(reversed(b))

['d', 'c', 'b', 'a']

In [47]:
c = ["Ali", "Rasoul", "Mehran", "Zahra"]

list(reversed(c))

['Zahra', 'Mehran', 'Rasoul', 'Ali']

## all

In [48]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

List1 = [i >= 5 for i in numbers]
print(List1)

[False, False, False, False, True, True, True, True, True]

In [49]:
all(List1)

False

In [50]:
List1 = all([i >= 5 for i in numbers])
print(List1)

False

In [51]:
List2 = [i >= 1 for i in numbers]
print(List2)

[True, True, True, True, True, True, True, True, True]

In [52]:
all(List2)

True

In [53]:
List2 = all([i >= 1 for i in numbers])
print(List2)

True

In [54]:
List3 = [True, True, True]
all(List3)

True

In [55]:
List4 = [True, True, False]
all(List4)

False

In [56]:
List5 = [2, 4, 6, 8]

all([i % 2 == 0 for i in List5])

True

In [57]:
all(i == 0 for i in List5)

False

# any

In [58]:
numbers = [8, 9, 2, 12, 15, 7, 3, 5]

List1 = [i >= 14 for i in numbers]
print(List1)

[False, False, False, False, True, False, False, False]

In [59]:
any(List1)

True

In [60]:
any([i >= 14 for i in numbers])

True

In [61]:
any([i >= 16 for i in numbers])

False

In [62]:
List2 = [2, 4, 6, 6, 8]
any(i % 2 == 0 for i in List2)

True

In [63]:
List2 = [1, 3, 5, 7, 8]
any(i % 2 == 0 for i in List2)

True

In [64]:
List = [True, True, True]
any(List)

True

In [65]:
any([False, False, False, True])

True

In [66]:
any([False, False, False, False])

False

## zip

In [67]:
L1 = [0, 2, 4, 6, 8]
L2 = [1, 3, 5, 7, 9]

list(zip(L1, L2))

[(0, 1), (2, 3), (4, 5), (6, 7), (8, 9)]

In [68]:
list(zip(L2, L1))

[(1, 0), (3, 2), (5, 4), (7, 6), (9, 8)]

In [69]:
L1 = [2, 8, 5]
L2 = [4, 3, 9, 1, 6]

list(zip(L1, L2))

[(2, 4), (8, 3), (5, 9)]

In [70]:
list(zip(L2, L1))

[(4, 2), (3, 8), (9, 5)]

In [71]:
L3 = [(2, 8), (6, 1), (3, 5)]

List = list(zip(*L3))
print(List)
type(List)

[(2, 6, 3), (8, 1, 5)]

list

In [72]:
L4 = [(2, 8), (6, 1), (3, 5), (4, 7), (9, 2)]

list(zip(*L4))

[(2, 6, 3, 4, 9), (8, 1, 5, 7, 2)]

In [73]:
Result1 = zip(L1, L2)

D1 = dict(Result1)
print(D1)
print(type(D1))

{2: 4, 8: 3, 5: 9}
<class 'dict'>

In [74]:
L1

[2, 8, 5]

In [75]:
L2

[4, 3, 9, 1, 6]