# Dictionary

In [75]:
D1 = {
    "name" : "jack",
    "family" : "jj",
    "age" : 25,
    "city" : "Kermanshah"
     }


print(D1)
print("len:", len(D1))
print(type(D1))

{'name': 'jack', 'family': 'jj', 'age': 25, 'city': 'Kermanshah'}
len: 4
<class 'dict'>

In [76]:
name = ["Rasoul", "jj", "Javad"]
number = [16, 17, 14]

D2 = {
    "name": name,
    "number" : number
}

print(D2)
print("len:", len(D2))
print(type(D2))

{'name': ['Rasoul', 'jj', 'Javad'], 'number': [16, 17, 14]}
len: 2
<class 'dict'>

In [77]:
even = [i for i in range(10) if i%2 == 0]
odd = [i for i in range(10) if i%2 != 0]

D2 = {
    "even": even,
    "odd": odd
}

print(D2)
print("len:", len(D2))
print(type(D2))

{'even': [0, 2, 4, 6, 8], 'odd': [1, 3, 5, 7, 9]}
len: 2
<class 'dict'>

In [78]:
Set = {2, 5, 8, 3}
List = ["Ali", 5, [2, 8, 9], {2, 8, "Reza"}]
Tuple = ("python", 19, 25)
Dict = {
    "Course": 
    {
        "Python": ["Ali", "Sina", "Mehran", "Bahar"],
        "Java": ["Farhad", "Bahar"]
    }
}

D3 = {
    "Set": Set,
    "List": List,
    "Tuple": Tuple,
    "Dict": Dict
}

len(D3)

4

In [79]:
D3

{'Set': {2, 3, 5, 8},
 'List': ['Ali', 5, [2, 8, 9], {2, 8, 'Reza'}],
 'Tuple': ('python', 19, 25),
 'Dict': {'Course': {'Python': ['Ali', 'Sina', 'Mehran', 'Bahar'],
   'Java': ['Farhad', 'Bahar']}}}

In [80]:
D3 = dict(course= "python", teacher= "Ali", Id= 332, single= True, gmail= "as@gmail.com")

print(D3)
print("len:", len(D3))
print(type(D3))

{'course': 'python', 'teacher': 'Ali', 'Id': 332, 'single': True, 'gmail': 'as@gmail.com'}
len: 5
<class 'dict'>

In [81]:
Person1 = {}
Person2 = {1}

print(type(Person1))
print(type(Person2))

<class 'dict'>
<class 'set'>

In [82]:
Person = {}

Person["name"] = "jack"
Person["family"] = "jj"
Person["age"] = 25
Person["Course"] = ["Python", "C#", "Matlab"]
Person["details"] = {
    "City": "Tehran",
    "Address": "Iran, Tehran, ..."
}

type(Person)

dict

In [83]:
Person

{'name': 'jack',
 'family': 'jj',
 'age': 25,
 'Course': ['Python', 'C#', 'Matlab'],
 'details': {'City': 'Tehran', 'Address': 'Iran, Tehran, ...'}}

In [84]:
D3

{'course': 'python',
 'teacher': 'Ali',
 'Id': 332,
 'single': True,
 'gmail': 'as@gmail.com'}

In [85]:
for key in D3.keys():
    print(key)

course
teacher
Id
single
gmail

In [86]:
D3.keys()

dict_keys(['course', 'teacher', 'Id', 'single', 'gmail'])

In [87]:
for value in D3.values():
    print(value)

python
Ali
332
True
as@gmail.com

In [88]:
D3.values()

dict_values(['python', 'Ali', 332, True, 'as@gmail.com'])

In [89]:
for key, value in D3.items(): 
    print(key ,":", value)

course : python
teacher : Ali
Id : 332
single : True
gmail : as@gmail.com

In [90]:
x = []
y = []

for key, value in D3.items(): 
    x.append(key)
    y.append(value)

In [91]:
print(x)
print(y)

['course', 'teacher', 'Id', 'single', 'gmail']
['python', 'Ali', 332, True, 'as@gmail.com']

In [92]:
D3.items()

dict_items([('course', 'python'), ('teacher', 'Ali'), ('Id', 332), ('single', True), ('gmail', 'as@gmail.com')])

In [93]:
D4 = D3
D5 = D3.copy()

print(type(D4))
print(type(D5))

<class 'dict'>
<class 'dict'>

In [94]:
D3.clear()

print("D3: ", D3)
print("D5: ", D5)

D3:  {}
D5:  {'course': 'python', 'teacher': 'Ali', 'Id': 332, 'single': True, 'gmail': 'as@gmail.com'}

In [95]:
del D3

In [96]:
# D3

In [97]:
D5

{'course': 'python',
 'teacher': 'Ali',
 'Id': 332,
 'single': True,
 'gmail': 'as@gmail.com'}

In [98]:
D5.get('teacher')

'Ali'

In [99]:
D5['teacher']

'Ali'

In [100]:
D5.pop('course')
D5

{'teacher': 'Ali', 'Id': 332, 'single': True, 'gmail': 'as@gmail.com'}

In [101]:
D5.popitem()
D5

{'teacher': 'Ali', 'Id': 332, 'single': True}

In [102]:
'teacher' in D5

True

In [103]:
'teacher' in D5.keys()

True

In [104]:
'Ali' in D5

False

In [105]:
'Ali' in D5.values()

True

In [106]:
D5

{'teacher': 'Ali', 'Id': 332, 'single': True}

In [107]:
D6 = {
    "gmail": "computer.engineer.as@gmail.com"
}

D6.update(D1)
D6

{'gmail': 'computer.engineer.as@gmail.com',
 'name': 'jack',
 'family': 'jj',
 'age': 25,
 'city': 'Kermanshah'}

In [108]:
D6.clear()
D6

{}

In [109]:
D6 = {
    'gmail': "as@gmail.com",
    'name': "Rasoul",
    'age': 26
}

D6.update(D1)
D6

{'gmail': 'as@gmail.com',
 'name': 'jack',
 'age': 25,
 'family': 'jj',
 'city': 'Kermanshah'}

In [110]:
D7 = {i: ("even" if i % 2 == 0 else "odd") for i in range(10)}
D7

{0: 'even',
 1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [111]:
D7 = {
    "id": 332,
    "age": 25,
    "number": 123
}

D8 = {key: value*2 for key, value in D7.items()}
D8

{'id': 664, 'age': 50, 'number': 246}

In [112]:
Python = {
    "Teacher":
    {
        "Name": "jack",
        "Family": "jj",
        "Age": 25,
        "Gmail": "as@gmail.com"
    },
    
    "chapter":
    {
        "chapter1": "معرفی زبان پایتون و محیط های برنامه نویسی", 
        "chapter2": "عملگرها، رشته ها و ریاضیات",
        "chapter3": "حلقه ها و دستورات شرطی" ,
        "chapter4": "set - مجموعه ها",
        "chapter5": "list - لیست ها",
        "chapter6": "tuple - تاپل ها",
        "chapter7": "dictionary - دیکشتری ها",
    },
    
    "Students":
    {
        "name": ["Reza", "Afarin", "Mehrnoush", "Sina"],
        "number": [18, 20, 19, 19]
    },
    
    "Score": 20
}

In [113]:
len(Python)

4

In [114]:
Python.keys()

dict_keys(['Teacher', 'chapter', 'Students', 'Score'])

In [115]:
for value in Python.values():
    print(value)

{'Name': 'jack', 'Family': 'jj', 'Age': 25, 'Gmail': 'as@gmail.com'}
{'chapter1': 'معرفی زبان پایتون و محیط های برنامه نویسی', 'chapter2': 'عملگرها، رشته ها و ریاضیات', 'chapter3': 'حلقه ها و دستورات شرطی', 'chapter4': 'set - مجموعه ها', 'chapter5': 'list - لیست ها', 'chapter6': 'tuple - تاپل ها', 'chapter7': 'dictionary - دیکشتری ها'}
{'name': ['Reza', 'Afarin', 'Mehrnoush', 'Sina'], 'number': [18, 20, 19, 19]}
20

In [116]:
Python["Teacher"]

{'Name': 'jack', 'Family': 'jj', 'Age': 25, 'Gmail': 'as@gmail.com'}

In [117]:
Python["Teacher"]["Gmail"]

'as@gmail.com'

In [118]:
Python["Students"]

{'name': ['Reza', 'Afarin', 'Mehrnoush', 'Sina'], 'number': [18, 20, 19, 19]}

In [119]:
Python["Students"]["number"]

[18, 20, 19, 19]

In [120]:
Python["Students"]["number"][1]

20

In [121]:
Python["Students"]["number"][0] == 56

False

In [122]:
Python["Students"]["name"]

['Reza', 'Afarin', 'Mehrnoush', 'Sina']

In [123]:
Python["Students"]["name"][1]

'Afarin'

In [124]:
"Afarin" in Python["Students"]["name"]

True

In [125]:
Python["Students"]["name"] = ["Ali", "Javad", "Bahar", "Mehran"]
Python["Students"]["name"]

['Ali', 'Javad', 'Bahar', 'Mehran']

In [126]:
Python["Students"]["number"][0] = 100
Python["Students"]["number"][0]

100

In [127]:
help(Python.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [128]:
help(Python.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.